# Dependencies
node_modules/

# Production build
dist/
build/

# Python Virtual Environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Environment variables
.env
.env.local
*.env

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
